video_source = "0"
model = "yolo11n.pt"  # or yolov8m.pt, yolov8l.pt, yolov8x.pt
confidence_threshold = 0.2
search_for = "person"  # Object class to detect
no_display = False
output_path = "output.mp4"
video_save = False
device = "cpu"  # or 'cuda' for GPU
verbose = False
time_out = 6  # Time in seconends before time out the camera
max_history = 10  #Maximum number of center points to store for movement tracking
show_arrow = True
show_trail = True  # Whether to show movement trail
# square /relative
square_p1 = [0.184, 0.127]
square_p2 = [0.731, 0.188]
square_p3 = [0.708, 0.688]
square_p4 = [0.158, 0.669]
#vector exit
vector_x = 0.758
vector_y = 0.065

#socket #make sure the ip is static
use_socket = True
socket_port = 4444
#GPIO
use_gpio = True
gpio_pin = 18  #GPIO pin number to use for alert signal
setmode = "BCM"  # or 'BOARD' for GPIO pin numbering scheme

# Performance
skip_frames = 2   # Run AI on 1 frame, then skip 2. (0 = disable)
resize_width = 640 # Resize video width for processing. (0 = disable)